language: php

php:
  - 7.1
  - 7.2
  - 7.3

matrix:
  include:
    - php: 7.1
      env: dependencies=lowest

sudo: false

before_script:
  - composer install -n
  - if [ "$dependencies" = "lowest" ]; then composer update --prefer-lowest --prefer-stable -n; fi;

script:
  - vendor/bin/phpunit
